.signin-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-box {
  margin-top: 30px;

  color: white;
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
  padding: 20px 15px;
  position: relative;
  align-items: center;
}

.container-box .form {
  color: white;
}

.container-box .message {
  color: white;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-box .button-container button {
  /* position: absolute; */
  height: 38px;
  width: 100%;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}
.container-box .button-container button:hover {
  color: white;
  background-color: rgb(194, 194, 194);
}
.container-box .button-container button:focus {
  outline: none;
  border: none;
}
.container-box .button-container p {
  font-size: 12px;
}

.container-box .button-container p span {
  cursor: pointer;
  font-weight: 600;
  color: rgb(211, 163, 255);
}
